/*
= = = = = = = = = =
BASE PROPERTIES & COLORS
= = = = = = = = = =
*/

:root {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    --off-white: #eae2b7;
    --abyss: #2d1e2f;
    --cavern: #241e2f;
    --mat-pink: #94848b;
    --steel-teal: #4e878c;
    background-color: var( --cavern );
}

/* 
= = = = = = = = = =
WEBSITE HEADER
= = = = = = = = = =
*/

#header-container {
    background-color: white;
    position: static;
    display: flex;
    justify-content: space-evenly;
}

#code-wall {
    max-width: 100%;
    max-height: 100%;

    width: 100vw;
    height: 100vh;
    opacity: 70%;

    position: static;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    overflow: auto;
    box-shadow: 7px 7px 3px 0 black;
}

#name-card {
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.75 );
    left: 50%;
    top: 40%;
    transform: translate( -50%, -50% ) scale( 2.5 );
    width: 25%;

    color: ghostwhite;
    box-shadow: 3px 3px 3px 0 black;
}

#self-desc {
    position: absolute;
    left: 50%;
    top: 60%;
    background-color: rgba( 0, 0, 0, 0.75 );
    width: 19%;
    transform: translate( -50%, -50% ) scale( 2.5 );

    color: ghostwhite;
    box-shadow: 3px 3px 3px 0 black;
    font-size: 14px;
}

/* 
= = = = = = = = = =
HORIZONTAL NAVIGATION BAR
= = = = = = = = = =
*/

#link-contain {
    background-color: rgb(59, 53, 71);
    box-shadow: 5px 5px 5px 0 black;
    margin-top: 15px;
    max-height: 125px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 75px;
}

li {
    display: inline;
    font-size: 25px;
}

li a {
    text-align: center;
    padding: 20px 35px 25px 35px;
    overflow-y: hidden;
    color: ghostwhite;
    text-decoration: none;
    float: left;
    border-right: 3px solid black;
}

li a:hover {
    animation-name: grad-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes grad-in {
    50% {
        color: aquamarine;
    }

    100% {
        color: aquamarine;
        background-color: #4e465e;
    }
}

/* 
= = = = = = = = = =
ABOUT ME
= = = = = = = = = =
*/

h2 {
    color: aquamarine;
}


/* 
= = = = = = = = = =
WEBSITE FOOTER
= = = = = = = = = =
*/

hr {
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    border-color: ghostwhite;
}

footer {
    padding-top: 75px;
}